extends ../../base-account

block content 
    div.account_page
        div.account_page_box
            div.account_page_header
                h1 비밀번호 변경
                
            hr

            form.account_form(method="post" )
                div.input_box 
                    input( name="oldPass" id="oldPass" type="password" required)
                    label(for="oldPass").placeholder 기존 비밀번호
                    if wrongOldPass
                        span.error_message=wrongOldPass
                    span 기존 비밀번호를 입력해주세요.
                    
                div.input_box    
                    input( name="newPass" id="newPass" type="password" required)
                    label(for="newPass").placeholder 새로운 비밀번호
                    if samePass
                        span.error_message=samePass
                    span 변경할 비밀번호를 입력해주세요.

                div.input_box    
                    input( name="newPass2" id="newPass2" type="password" required)
                    label(for="newPass2").placeholder 새로운 비밀번호 확인
                    if noneNewPass
                        span.error_message=noneNewPass
                    span  확인을 위해 한번더 입력해 주세요.

                div.showPass
                    input(type="checkbox" id="showPass")
                    label(for="showPass") 비밀번호 표시
                    

                input#submit(type="submit", value="변경사항 저장")



