extends ../../base

block content 
    if errorMessage
        span=errorMessage
    form(method="post")
        input(name="name", placeholder="사용자 이름", required )
        input(name="email",placeholder="이메일", required , type="email")
        input(name="username", placeholder="로그인 아이디",required )
        input(name="password", placeholder="비밀번호",required , type="password")
        input(name="password2", placeholder="비밀번호 확인",required , type="password")
        input(name="location" ,placeholder="지역",)
        
        input(type="submit", value="Join",)

    hr 
    div    
        span Already have an account? 
        a(href="/login") Log in now &#10132;
