extends ../../base-noneHeader

block content 
    div.form_page
        form.account_form(method="post")
            div.form-header
                div.header_logo 
                    i.fab.fa-youtube 
                    span NewTube 
                        small KR
                span NewTube 로그인
                a(href="/") NewTube 바로가기 &#10132;
            div.input_box 
                input(name="username",id="ID",value=username,required , )
                label(for="ID").placeholder 아이디
                if noneID
                    span.error_message=noneID
            div.input_box 
                input(name="password",id="pass",required , type="password" )
                label(for="pass").placeholder 비밀번호
                if wrongpass
                    span.error_message=wrongpass
            div.showPass
                input(type="checkbox" id="showPass")
                label(for="showPass") 비밀번호 표시
                

            input(type="submit", value="로그인",)

        div.form_footer
            div
                span 아직 계정이 없으신가요?
                a(href="/join") 회원가입 하러가기 &#10132;
            
            div 
                span GitHub계정이 있으신가요? 
                a(href="/users/github/start") GitHub로 로그인 하기 &#10132;