extends ../base.pug

include ../mixins/videos-home
        
block content
    
        

    div.home_videos
        each videoInfo  in randomVideos
            +video(videoInfo)
                     
        else 
            li 업로드된 동영상이 없습니다.

    if smallPlayer
        include ../partials/smallPlayer
        
            

block scripts
    script(src="/ast/js/videosList.js")
    script(src="/ast/js/smallPlayer.js")

