extends ../base.pug

include ../mixins/videos-home
        
block content
    include ../partials/sideVar/main
    
    div.home_videos
        each videoInfo  in videos
            +video(videoInfo)
            +video(videoInfo)
            +video(videoInfo)
            +video(videoInfo)
            +video(videoInfo)
            +video(videoInfo)
            +video(videoInfo)
            +video(videoInfo)
                    
        else 
            li 업로드된 동영상이 없습니다.
    if smallPlayer
        include ../partials/smallPlayer
        
            

block scripts
    script(src="/ast/js/videosList.js")