extends ../base.pug

include ../mixins/videos-search


block content
    div.search-page
        div.search-page-Interval
            div.search_filter 
                i.fas.fa-filter
                span 필터
            hr
            div.search_videos
                each videoInfo  in videos
                    +video(videoInfo)
                    +video(videoInfo)
                    +video(videoInfo)
                    +video(videoInfo)
                    +video(videoInfo)
                    +video(videoInfo)
                    +video(videoInfo)
                    +video(videoInfo)
                            
                else 
                    li 업로드된 동영상이 없습니다.
            if smallPlayer
                include ../partials/smallPlayer

block scripts
    script(src="/ast/js/videosList.js")