extends ../base.pug

include ../mixins/video

block content
    form(method="get")
        input(name="keyword", value=keyword placeholder="Search by title")
        input(type="submit", value="Search now")

    div
        each video in videos 
            +video(video)