.upload_page,
.video-edit_page {
  .file_select {
    display: flex;

    small {
      font-size: 13px;

      color: rgba($color: $color, $alpha: 0.5);
    }
    .file_select_column {
      display: flex;
      flex-direction: column;
      align-items: center;

      .go_to_record {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 10px;

        span {
          font-size: 20px;
        }

        a {
          margin-top: 5px;
          color: $blue;
        }
      }

      .file_box {
        position: relative;
        width: 560px;
        height: 320px;
        box-sizing: border-box;
        border: 3px dashed rgba($color: $color, $alpha: 0.4);

        display: flex;
        justify-content: center;
        align-items: center;

        video {
          position: absolute;

          top: 0px;
          left: 0px;

          z-index: 2;
          width: 560px;
          height: 320px;
          object-fit: cover;
        }
        .center_circle {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          //border: 3px dashed rgba($color: $color, $alpha: 0.4);

          width: 100px;
          height: 100px;
          border-radius: 50%;

          cursor: pointer;

          i {
            color: rgba($color: $color, $alpha: 0.4);
            font-size: 80px;
          }
          small {
            font-size: 15px;
            position: absolute;
            bottom: -30px;
            width: max-content;
          }
        }
      }
      .thumb_label,
      .video_label {
        margin-top: 15px;
        display: inline-block;
        padding: 10px 15px;
        background-color: $blue;
        color: $bg;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }

        input {
          display: none;
        }
      }

      small {
        margin-top: 5px;
      }
    }

    .file_select_column:last-child {
      margin-left: 50px;

      #thumb_box {
        width: 350px;
        height: 200px;

        i {
          font-size: 50px;
        }
        small {
          bottom: -15px;
        }

        #selected_thumb {
          position: absolute;

          top: -3px;
          left: -3px;

          z-index: 2;
          width: 350px;
          height: 200px;
          border: none;
          outline: none;
          background-color: black;
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .video_info_input {
    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;

    .title_box,
    .des_box {
      box-sizing: border-box;
      margin-top: 20px;

      display: flex;
      flex-direction: column;
      width: 700px;
      padding: 12px;

      border: 1px solid rgba($color: $color, $alpha: 0.2);
      border-radius: 10px;

      .area_header {
        font-size: 14px;
      }

      &:focus-within {
        border-color: $blue;

        .area_header {
          color: $blue;
        }
      }

      textarea {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
        width: 100;
        max-width: 100;
        padding: 8px 0;
        border: none;

        overflow: hidden; /* 스크롤 숨김 */
        resize: none;
        height: 38px;

        resize: none;

        &:focus-visible {
          border: none;
          outline: none;
        }
      }

      .area_footer {
        display: flex;
        justify-content: space-between;

        small {
          font-size: 13px;
          color: rgba($color: $color, $alpha: 0.7);
        }
      }
    }

    .des_box {
      textarea {
        height: 100px;
      }

      .area_footer {
        justify-content: flex-end;
      }
    }

    .hashtag_box {
      margin-top: 20px;
      padding: 12px;
      width: 700px;
      box-sizing: border-box;

      border: 1px solid black;

      display: flex;
      flex-direction: column;

      border: 1px solid rgba($color: $color, $alpha: 0.2);
      border-radius: 10px;

      .area_header {
        font-size: 14px;
      }

      &:focus-within {
        border-color: $blue;

        .area_header {
          color: $blue;
        }
      }

      small {
        margin-top: 5px;
        font-size: 12px;
        color: rgba($color: $color, $alpha: 0.6);
      }

      input {
        margin-top: 8px;

        border: none;

        font-size: 14px;
        padding: 5px 0;

        &:focus-visible {
          outline: none;
        }
      }
    }

    .error_box {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      #none_select {
        color: $red;
      }
    }

    .submit {
      width: 500px;
      height: 40px;

      border-radius: 10px;

      font-size: 18px;

      border: none;

      cursor: pointer;

      &:hover {
        color: $bg;
        background-color: $blue;
      }
    }
  }
}

.video-edit_page {
  .now_video_info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .video_and_thumb_display {
      display: flex;

      .video_box,
      .thumb_box {
        display: flex;
        flex-direction: column;

        video,
        img {
          border: 3px solid rgba($color: $color, $alpha: 0.5);

          height: 200px;
          width: 350px;
          margin-top: 10px;
          margin-right: 20px;

          object-fit: cover;
        }

        h1 {
          font-size: 20px;
          font-weight: 600;
        }
        .video_time {
          margin-top: 10px;
        }
      }
    }

    .meta_data {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      span {
        font-size: 16px;
        font-weight: 600;
        margin-top: 5px;
      }
    }
  }
}
