.video_comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video_comment {
    padding: 10px;
    border-radius: 9999px;
    margin-bottom: 10px;
    background-color: skyblue;
    color: black;
    .deleteComment {
      background-color: white;
      &:hover {
        background-color: black;
        cursor: Pointer;
      }
    }
  }
}
