#videoBox {
  position: relative;
  width: 100%;
  padding-top: 57.14%;

  .display_change_column {
    z-index: 2;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100px;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    .now_volume {
      position: absolute;
      top: 70px;
      padding: 15px;
      border-radius: 5px;

      background-color: rgba($color: #000000, $alpha: 0.6);
      color: rgba($color: white, $alpha: 0.8);

      font-size: 20px;

      visibility: hidden;
    }
    .showing {
      visibility: visible;
    }
    .display_change_circle {
      height: 100px;

      width: 100%;

      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: rgba($color: white, $alpha: 0.8);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: 40px;

      visibility: hidden;
    }
    .display_center {
      visibility: visible;

      animation: centerCircle 0.6s ease-in-out forwards;
    }
  }

  .display_change_row {
    z-index: 2;

    position: absolute;
    height: 100px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: space-around;

    .display_change_circle {
      height: 100%;

      width: 100px;

      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: rgba($color: white, $alpha: 0.8);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: 40px;

      visibility: hidden;
    }

    .display_change_circle:nth-child(1),
    .display_change_circle:nth-child(3) {
      font-size: 15px;

      .triple_arrow {
        margin-top: 20px;

        display: flex;
      }
    }

    .goTo_backAndforward {
      visibility: visible;

      .triple_arrow {
        i {
          opacity: 0.3;
          animation: arrows 0.6s ease-in-out;
          font-size: 20px;
          margin: 0 5px;
        }
      }
    }
    .display_change_circle:nth-child(1) {
      .triple_arrow {
        i:nth-child(2) {
          animation-delay: 0.2s;
        }
        i:nth-child(1) {
          animation-delay: 0.4s;
        }
      }
    }
    .display_change_circle:nth-child(3) {
      .triple_arrow {
        i:nth-child(2) {
          animation-delay: 0.2s;
        }
        i:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }

    .display_center {
      visibility: visible;

      animation: centerCircle 0.6s ease-in-out;
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: black;
  }

  .videoControler {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.showing {
      opacity: 1;
    }

    color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    padding-top: 150px;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);

    .videoControls__timeline {
      margin: 0;

      width: 96%;
      box-sizing: border-box;

      /* Track 스타일링 */
      -webkit-appearance: none;
      background-color: rgba($color: $bg, $alpha: 0.3);
      height: 3px;

      &:hover {
        background-color: rgba($color: $bg, $alpha: 0.6);
        height: 5px;
      }

      /* Thumb(또는 Handle) 스타일링 */
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 50%;
        width: 12px;
        height: 12px;

        background-color: $red;

        transform: scale(0) translateX(-0px);
        transition: transform 0.05s ease;
      }

      &:hover::-webkit-slider-thumb {
        transform: scale(1) translateX(-0px);
      }
    }

    .control_Btns {
      width: 100%;
      display: flex;
      align-items: center;

      padding: 10px 0;

      box-sizing: border-box;

      font-size: 20px;

      justify-content: space-between;
      .control_Btns-left {
        display: flex;
        align-items: center;

        .videoControls__play,
        .videoControls__volume,
        .videoControls__time {
          display: flex;
          align-items: center;

          margin-left: 15px;

          padding: 5px;

          cursor: pointer;
        }

        .videoControls__volume {
          input {
            margin-left: 15px;

            width: 0;
            visibility: hidden;

            cursor: pointer;

            /* Track 스타일링 */
            -webkit-appearance: none;
            background-color: rgba($color: $bg, $alpha: 0.3);
            height: 3px;

            /* Thumb(또는 Handle) 스타일링 */
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              background-color: white;
              border-radius: 50%;
              width: 10px;
              height: 10px;
            }
          }
          &:hover input {
            animation: volumeDisplay 0.2s ease-in-out;
            width: 70px;
            visibility: visible;
          }
        }

        .videoControls__time {
          font-size: 15px;
          cursor: text;
        }
      }
      .control_Btns-rigth {
        display: flex;

        #smallPlayer,
        #fullScreen {
          margin-right: 25px;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes volumeDisplay {
  0% {
    transform: scale(0);
    transform-origin: left;
  }
  100% {
    transform: scale(1);
    transform-origin: left;
  }
}

.control_Btns {
  #play,
  #mute,
  #smallPlayer,
  #fullScreen,
  .volume_box {
    position: relative;
    display: flex;
    align-items: center;

    .text_box {
      position: absolute;
      width: max-content;
      padding: 5px;
      font-size: 12px;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.6);

      top: -50px;
      left: -20px;

      display: none;
    }

    &:hover .text_box {
      display: block;
    }
  }

  #smallPlayer {
    .text_box {
      left: -40px;
    }
  }

  #fullScreen {
    .text_box {
      left: -55px;
    }
  }
  .volume_box {
    .text_box {
      left: 20px;
    }
  }
}

@keyframes arrows {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes centerCircle {
  from {
    opacity: 1;
    transform: scale(0.6);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
