div.side_var-box
    div.side_var
        div.side_var_section
            a(href="/").side_var_btn
                i.fas.fa-home
                span 홈
            div.side_var_btn
                i.fas.fa-cog
                span 설정
            div.side_var_btn
                i.fab.fa-youtube 
                span 구독
            div.side_var_btn
                i.fas.fa-archive
                span 보관함
            div.side_var_btn
                i.fas.fa-file-video
                span 내 동영상
            div.side_var_btn
                i.fas.fa-history
                span 시청기록
            div.side_var_btn
                i.fas.fa-check-square
                span 나중에 볼 동영상
            div.side_var_btn
                i.fas.fa-thumbs-up
                span 좋아요 표시한 동영상    
            hr
        
    
        span.not-working &#8251; 미구현 기능 &#8251;
        
        div.side_var_section 
            div.side_var_btn
                i.fas.fa-fire-alt
                span 인기 급상승
            div.side_var_btn
                i.fas.fa-headphones-alt
                span 음악
            div.side_var_btn
                i.fas.fa-shopping-bag
                span 쇼핑
            
            div.side_var_btn
                i.fas.fa-film
                span 영화
            div.side_var_btn
                i.fas.fa-gamepad
                span 게임
            div.side_var_btn
                i.fas.fa-running
                span 스포츠  
            div.side_var_btn
                i.fas.fa-graduation-cap
                span 학습 
            hr
        footer 
            span &copy;  #{new Date().getFullYear()} Newtube

    div.side_var-mini.hidden
        a(href="/").side_var-mini_btn
            i.fas.fa-home
            span 홈
        div.side_var-mini_btn
            i.fas.fa-cog
            span 설정
        div.side_var-mini_btn
            i.fas.fa-file-video
            span 내 동영상
        div.side_var-mini_btn
            i.fas.fa-history
            span 시청기록
        


