extends base.pug

block content
    h4 Update Video
    form(method="post") 
        input(name="title", placeholder="Change Title", value=video.title, required)
        input(name="description", placeholder="Description", value=video.description, required, minlength=20)
        input(name="hashtags", placeholder="Hashtags, separated by comma.",value=video.hashtags.join(), )

        input(value="Save", type="submit")
