extends base

block content
    img(src="/"+loggedInUser.avatarUrl, width="100px", height="100px")
    form(method="post" enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(name="avatar" type="file" id="avatar" accept="image/*")
        small 업로드 가능한 프로필 사진 용량은 최대 3MB 입니다.
        br
        br
        input(name="name", placeholder="Name", value=loggedInUser.name , required )
        input(name="email",placeholder="E-mail",value=loggedInUser.email, type="email", required )
        input(name="username", placeholder="User Name", value=loggedInUser.username,required , )
        input(name="location" ,placeholder="Location",value=loggedInUser.location ,)
        
        input(type="submit", value="Update Profile",)
        if !loggedInUser.socialOnly
            hr

            a(href="change-password") Change Password &#10132;
