extends base

block content 
    div 
        video#preview
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="post", enctype="multipart/form-data")
        label(for="video") Video File
        input(name="video" type="file" accept="video/*" id="video" required) 
        small 업로드 가능한 동영상 용량은 최대 10MB 입니다.
        br
        br
        input(name="title", placeholder="Title", required, maxlength=80)
        input(name="description", placeholder="Description", required, minlength=1)
        input(name="hashtags", placeholder="Hashtags, separated by comma.", )
        input(type="submit", value="Upload")

block scripts 
    script(src="/ast/js/recorder.js")