extends base

block content
    div
        p=video.description
        small=video.createdAt
        
    a(href=`${video.id}/edit`) Edit Video &#10132;
    br
    a(href=`${video.id}/delete`) Delete Video &#10132;	  