header 
    a(href="/").header_logo 
        i.fab.fa-youtube 
        span wetube
            small KR

    nav 
        ul  
            
            li 
                a(href="/search") 
                    i.fas.fa-search
            
            if loggedIn
                li 
                    a(href="/videos/upload") Video Upload
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}의 프로필
                li 
                    a(href="/users/edit") 프로필 수정(Edit Profile)
                li 
                    a(href="/users/logout") Log-Out    
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login").header_btn Log-in
                

