div.shortcut.hidden
    div.shortcut_box
        div.box_header 단축키
        div.box_main
            div.column
                div.column_title 재생
                div.row
                    span 동영상 재생 / 일시중지
                    small 스페이스바 (space) / 동영상 클릭
                div.row
                    span 5초 되감기
                    small 왼쪽 방향키 (←)
                div.row
                    span 5초 빨리감기
                    small 오른쪽 방향키 (→)
                div.row
                    span 동영상 특정지점으로 이동 (만약 숫자 7을 누르면 영상 70% 지점으로 이동)
                    small 숫자 0 ~ 9
           
            div.column
                div.column_title 일반
                div.row
                    span 전체화면 / 전체화면 해제
                    small f
                div.row
                    span 전체화면 
                    small 동영상 더블클릭
                div.row
                    span 전체화면 시 전체화면 해제
                    small Esc
                div.row
                    span 소형 플레이어 / 영상시청 페이지 복귀
                    small i
                div.row
                    span 음소거 / 음소거 해제
                    small m
                div.row
                    span 음량 5% 증가
                    small 위쪽 방향키 (↑)
                div.row
                    span 음량 5% 감소
                    small 아래쪽 방향키 (↓)

        div.box_footer
            div.close_btn 닫기